@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to DropShipShop</h2>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col-4 m-5">
            <h3><a asp-area="" asp-page="/Shop/Index">Start Shopping!</a></h3>
        </div>
        <div class="col-4 m-5">
            <h3><a asp-area="" asp-page="/Login">Login</a></h3>
            <p><a asp-page="/Register">Register</a></p>
        </div>
        <div class="col-4 m-5">
            <h3><a asp-area="" asp-page="/Statistics">Show Statistics</a></h3>
        </div>
        <div class="col-4 m-5">
            <h3><a asp-area="" asp-page="/Admin/Index">Administrate</a></h3>
        </div>
    </div>
</div>
