@model ServiceLayer.ShopService.Dto.ProductListDto


<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-3">
    <div class="card">
        <a asp-page="./Details" asp-route-id="@Model.ProductId"><h5 class="card-header">@Model.Name</h5></a>
        <img class="card-img-top" src="..." alt="Product Image" />
        <div class="card-body">
            <p class="card-text">@Model.Description</p>
            <div class="row">
                <div class="col-7">
                    <strong>@Model.Price</strong>
                </div>
                <div class="col-5">
                    <a href="#" class="card-link"><i class="fas fa-cart-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>