@page "{CategoryId:int?}"
@model EshopClient.Pages.Shop.IndexModel

@{
    ViewData["Title"] = "Index";
}
@*<div class="row">
    <div class="col-sm-12 offset-md-3 col-md-9">
        <form>
            <p>
                <select asp-for="Manufacturers" asp-items="Model.Manufacturers">
                    <option value="">All</option>
                </select>
                Product Name: <input type="text" asp-for="SearchString" />
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>
</div>*@
<div class="row">
    <div class="col-sm-12 col-md-3">
        @await Component.InvokeAsync("CategoryTree")
    </div>
    <div class="col-sm-12 col-md-9">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <partial name="_ProductCardPartial" model="item"/>
            }
        </div>
    </div>
</div>
