@model IEnumerable<ServiceLayer.ShopService.Dto.CategoryListDto>

@foreach (var category in Model)
{
<li>
    @category.Name
    @if (category.ChildCategories.Any())
    {
        <ul>
            <partial name="/Components/CategoryTree/_CategoryPartial" model="@category.ChildCategories"/>
        </ul>
    }
</li>
}