@model IEnumerable<DataLayer.Entities.Category>

<strong>Categories</strong>
<div id="CategoryMenu">
    <div class="list-group">
        <a asp-page="/Shop/Index" class="list-group-item border-bottom">All Products</a>
        @foreach (var category in Model.Where(c => c.ParentCategoryId == null))
        {
            <a asp-page="./Index" asp-route-CategoryId="@category.CategoryId" class="list-group-item">
                <strong>@category.Name</strong>
            </a>
            @if (category.ChildCategories.Any())
            {
            <div style="padding-left:10px;">
                <partial name="_CategoryPartial" model="category.ChildCategories" />
            </div>
            }
        }
    </div>
</div>